
.title
{
  color: var(--uncgold);
  font-size: 48pt;
  text-decoration: underline;
  text-align: center;
}

ul
{
    text-align: center;
}
li
{
    display: inline;
    margin-left: 3vw;
    margin-right: 3vw;
}

img
{
    margin: auto;
    display: block;
}
