
body
{
    background-color: var(--UNC-Gray);
}
.date
{
    color: rgb(102, 102, 255);
    float: right;
    font-weight: bold;
}

h1
{
    color: rgb(102, 102, 255);
    font-size: 4.5vw;
}

img
{
    width: 15vw;
}

p
{
    width: 500px;
}
